<header>
  <div>
    <a class='ctaBtn'>Ligue agora</a>
    <a class='socialIcon' href='https://www.facebook.com/{{site.social.facebook}}' target='_blank'><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a class='socialIcon' href='https://www.twitter.com/{{site.social.twitter}}' target='_blank'><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a class='socialIcon' href='https://www.instagram.com/{{site.social.instagram}}'><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  <div>
    <h1>{{site.skills}} - {{site.title}}</h1>
    <nav>
      <button type='button' id='topMenuBtn'><i class="fa fa-bars" aria-hidden="true"></i></button>
      {% include menu.html menuClass='topMenu' menuId='id="topMenu"' %}
    </nav>
</div>
</header>
