<!doctype html>
<html lang='pt-br'>

{% include head.html %}

<body>

{% include header.html %}

{{content}}

{% include cta.html %}

{% include footer.html %}

<a class="budgetCta hidden" href="https://wa.me/5521997667338?text=Preciso%20de%20um%20orçamento">
    <i class='fa fab fa-whatsapp'></i>
</a>

<script type='text/javascript' src='/assets/js/scripts.js'></script>

<script async src="https://use.fontawesome.com/12987bfe20.js"></script>

{% if page.url == '/contato.html' %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAdEruoL4Wr8c4EEPV1X6lnt9PJQ8EfwI&callback=initMap" async defer></script>
{% endif %}

</body>
</html>
